div#banner {
  /* Have this <div> tag serve as a flexbox */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-image: var(--url);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Mobile */
@media screen and (max-aspect-ratio: 2/3) {
  div#banner {
    height: 60vh;
  }

  div#banner > h1 {
    font-size: 6vh;
    margin: 3vh 30vw;
  }

  div#banner > p {
    font-size: 2.5vh;
    margin: 3vh 5vw;
  }
}

/* Desktop */
@media screen and (min-aspect-ratio: 2/3) {
  div#banner {
    height: 50vh;
  }
  div#banner > h1 {
    font-size: 6vh;
    font-weight: bold;
  }

  div#banner > p {
    margin: 0% 20%;
    font-size: 3vh;
  }
}

div#banner > p:before {
  background-image: var(--url);
  filter: blur(2px);
}

div#banner > * {
  font-family: sans-serif;
  border-color: white;
  border-style: solid;
  text-align: center;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-color: rgb(255, 255, 255, 50%);
  border-radius: 5px;
  border-width: 5px;
}

div#banner > h1 {
  padding: 5vh 4vw;
  box-shadow: 0 0 5vh 10px black;
}

div#banner > p {
  padding: 2vh 2vw;
  box-shadow: 0 0 5vh 10px black;
}
