body {
    text-rendering: geometricPrecision;
    font-family: -apple-system, sans-serif;
    margin: 0px;
}

blockquote {
    font-size: max(1em, 12px);
}

a:visited {
    color: black;
}

pre {
    letter-spacing: 1.05;
    line-height: 150%;
    padding: 10pt;
    font-family: -apple-system, Courier, monospace;
    border-radius: 10pt;
}

li {
    font-size: 14pt;
}
