@media(prefers-color-scheme: dark) {
  body {
    background-color: rgb(40,40,40);
    color: white;
  }
  :root {
    --blue: hsl(207, 68%, 56%)
  }
}


#main {
  margin: 1vh 1vw;
  display: flex;
  align-items: start;
}

/* Mobile */
@media screen and (max-aspect-ratio: 3/5) {
  #main {
    margin: 2vh 3vw;
  }
}

/* Desktop */
@media screen and (min-aspect-ratio: 3/5) {
  #main {
    font-size: 125%;
  }
}

body {
  text-rendering: geometricPrecision;
  font-family: -apple-system, sans-serif;
  margin: 0px;
}

a:visited {
  color: black;
}

pre {
  letter-spacing: 1.05;
  line-height: 150%;
  padding: 10px;
  font-family: -apple-system, Courier, monospace;
  border-radius: 10px;
}

table {
  color: black;
}

th {
  background-color: rgb(200, 200, 200);
}
tr:nth-child(odd) {
  background-color: rgb(240, 240, 240);
}
tr:nth-child(even) {
  background-color: rgb(220, 220, 220);
}

code:not(div.highlight code) {
/* p > code { */
  /* background-color: #282a36; */
  background-color: rgba(16, 16, 16, 80%);
  color: white;
  border-radius: 3px;
  padding: 1px 3px;
  /* mix-blend-mode: difference; */
}

@media(prefers-color-scheme: dark) {
  code:not(div.highlight code) {
    filter: invert();
  }
  table {
    filter: invert();
  }
}
