#main {
  margin: 1vh 1vw;
  display: flex;
  align-items: start;
}

/* Mobile */
@media screen and (max-aspect-ratio: 2/3) {
  #main {
    margin: 2vh 3vw;
  }
}

/* Desktop */
@media screen and (min-aspect-ratio: 2/3) {
  #main {
    font-size: 125%;
  }
}

body {
  text-rendering: geometricPrecision;
  font-family: -apple-system, sans-serif;
  margin: 0px;
}

a:visited {
  color: black;
}

pre {
  letter-spacing: 1.05;
  line-height: 150%;
  padding: 10pt;
  font-family: -apple-system, Courier, monospace;
  border-radius: 10pt;
}

code:not(div.highlight pre code) {
  /* background-color: #282a36; */
  color: white;
  background-color: rgba(40, 44, 51, 60%);
  border-radius: 3px;
  padding: 0vh 3px;
  /* mix-blend-mode: difference; */
}
