.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
}

.block {
  margin-left: 1.7%;
  float: left;
  padding: 10px;
  line-height: 1.5;
  margin-bottom: 2em;
  font-family: -apple-system, "Helvetica Neue", sans-serif;
  opacity: 75%;
  transition: 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.block:hover {
  opacity: 1
}

.block a {
  color: #5197ad;
}

.block p {
  color: black;
  font-size: 12pt;
  font-weight: normal;
  margin: 1px;
}
