body {
  align-items: center;
  display: flex;
  flex-direction: column;
}
main {
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  display: block;
  flex-direction: column;
  padding: max(2%, 1em);
  width: min(100%, 1600px);
}

@media screen and (min-width: 576px) {
  main {
    padding: 1vh 3vw;
  }
}

section#cards {
  column-gap: 48px;
  display: grid;
  grid-auto-rows: 300px;
  row-gap: 48px;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 576px) {
  section#cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  section#cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

section#intro {
  max-width: 800px;
  margin: 50px auto;
}

section#intro summary {
  text-indent: 0ch;
  font-size: 1.5rem;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 576px) {
  section#intro summary {
    font-size: 2rem;
  }
}

section#intro > details {
  text-indent: 4ch;
  max-width: 80ch;
  margin-left: auto;
  margin-right: auto;
}

section#intro > details > p {
  font-family: serif;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  section#intro > details {
    max-width: 68ch;
  }
  section#intro > details > p {
    font-size: 20px;
    line-height: 32px;
  }
}

main > h2 {
  font-size: 1.8rem;
  font-weight: 300;
}

main > p {
  font-size: 1.3rem;
  line-height: 1.5rem;
}

hr {
  margin-bottom: 2em;
}

/* Individual elements of the grid */
section > a.card {
  background-color: var(--charcoal);
  border-radius: 16px;
  box-shadow: 1px 1px 12px -3px black;
  color: white;
  filter: opacity(80%);
  font-weight: normal;
  height: 100%;
  text-decoration: none;
  transition: 0.3s;
}

section > a.card:hover {
  filter: opacity(100%);
}

section > a.card img {
  border-radius: 16px 16px 0 0;
  height: 80%;
  object-fit: cover;
  width: 100%;
}

section > a.card > picture {
  overflow-x: hidden;
  overflow-y: hidden;
}

section > a.card > p {
  flex: 1;
  font-size: 22px;
  height: 20%;
  letter-spacing: 0.05rem;
  margin: 0;
  padding: 0px 8px 8px 8px;
  text-align: center;
}
