body {
  background-color: var(--concrete);
}

main {
  width: min(100%, 800px);
  background-color: var(--white);
  padding: 10px 20px;
  margin: 60px auto auto;
}

@media screen and (min-width: 800px) {
  main {
    border-radius: 16px;
  }
}


