div.notice {
  margin: 1vh;
}
div.notice div#header {
  padding: 0.8vh 1vw;
  height: 3vh;
  display: flex;
  align-items: center;
}

div.notice div#header img {
  height: 100%;
  margin-right: 1vw;
}

div.notice div#header p {
  color: white;
  display: inline;
  font-weight: bold;
  margin: 0vh 0vw;
  text-transform: capitalize;
}

div.notice.info {
  background: rgb(120, 185, 246);
}

div.notice.danger {
  background: rgb(217, 83, 79);
}

div.notice.warning {
  background: rgb(240, 179, 126);
}

div.notice.success {
  background: rgb(92, 184, 92);
}

div.notice p#details {
  margin: 0;
  padding: 15px;
  font-size: 1rem;
  color: rgb(60, 60, 60);
}

div.notice.info p#details {
  background: rgb(226, 240, 248);
}

div.notice.danger p#details {
  background: #FAE2E2;
}

div.notice.warning p#details {
  background: rgb(255, 232, 196);
}

div.notice.success p#details {
  background: #E6F9E6;
}
