.sidebar {
  position: sticky;
  text-align: center;
  top: 2em;
  float: left;
  padding: 2%;
  width: 20%;
  font-family: -apple-system, "Helvetica Neue", sans-serif;
  color: rgb(73, 78, 82);
}

img#headshot:hover {
  transition: 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  opacity: 100%;
}

img#headshot {
  opacity: 75%;
  width: 125px;
  border-radius: 50%;
}

img.teaser {
  width: 100%;
  object-fit: cover;
}

.wrapper {
  color: grey;
  letter-spacing: 1.5;
}
