div#sidebar {
  position: sticky;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
  top: 11vh;
  padding: 5vh 0vw;
  margin-right: 2vw;
  font-family: sans-serif;
  color: rgb(73, 78, 82);
  background-color: rgb(200, 200, 200);
  border-radius: 5%;
}

p#author {
    font-weight: bold;
    font-size: 2.5vh;
    margin-bottom: 0;
}

p#tagline {
    font-size: 1.5vh;
    font-style: italic;
}

ul#plugs {
  color: dimgrey;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul#plugs > li {
  letter-spacing: 1.5;
  font-size: 1.5vh;
  margin: 0.5vh;
}

ul#plugs > li:hover {
  font-weight: bold;
}

img#headshot,
ul#plugs > li {
  opacity: 80%;
}

img#headshot:hover,
ul#plugs > li:hover {
  opacity: 100%;
}

img#headshot {
  width: 50%;
  border-radius: 50%;
  transition: 0.5s;
}

li > a {
    font-size: 2vh;
}

li > a:any-link {
    text-decoration: none;
    color: dimgrey;
}

/* Mobile */
@media screen and (max-aspect-ratio: 2/3) {
    /* Disable the sidebar when using mobile */
    div#sidebar {
        display: none;
    }
}
