main {
  align-items: center;
  background-color: var(--arcana-concrete);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

article {
  background-color: white;
  padding: 20px 40px;
  width: 100%;
}

img {
  width: 100%;
}

footer {
  color: var(--arcana-ash);
  font-size: max(12pt, 0.8rem);
  text-align: right;
}

blockquote {
  border: 4px;
  border-left: 4px solid var(--arcana-concrete);
  box-sizing: border-box;
  color: var(--arcana-ash);
  margin: 0;
  padding: 0 15px;
}

aside {
  margin: 16px 0px;
  padding: 0;
}

aside > p {
  border-left: 4px solid;
  border-radius: 4px;
  box-sizing: border-box;
  color: #3c3c3c;
  margin: 0;
  padding: 1em;
}

aside.info > p {
  background-color: #cce5ff;
  border-color: #b8daff;
  color: #004085;
}

aside.danger > p {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

aside.warning > p {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
}

aside.success > p {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

table {
  border-bottom: 1px var(--arcana-concrete);
  border-collapse: collapse;
  box-sizing: border-box;
  color: var(--arcana-charcoal);
  display: table;
  font-size: 14px;
  margin: 16px 0px;
  width: 100%;
}

thead {
  border: 2px solid var(--arcana-concrete);
}

th {
  background-color: #e9ecef;
  border-bottom: 2px solid var(--arcana-concrete);
  border-color: var(--arcana-concrete);
  color: var(--arcana-charcoal);
  font-weight: bold;
  padding: 0.75rem;
  vertical-align: bottom;
}

th,
td {
  border-top: 1px solid var(--arcana-concrete);
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.75rem;
}

td {

}

tr {
  border-bottom: 1px solid var(--arcana-concrete);
  height: 36px;
  text-align: left;
}

article {
  border-radius: 8px;
  box-shadow: #3c40434d 0px 1px 2px 0px, #3c404326 0px 1px 3px 1px;
  margin-top: min(calc(100% - 940px), 40px);
  margin-bottom: min(calc(100% - 940px), 40px);
  width: min(940px, 100%);
}

html {
  scroll-padding-top: 98px;
}


/*
h2::before {
  content: '';
  display: block;
  height:      108px;
  margin-top: -108px;
  visibility: hidden;
  position: relative;
  z-index: -1;
}
 */