main {
  align-items: center;
  background-color: var(--concrete);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

img {
  width: 100%;
}

footer {
  color: var(--ash);
  font-size: max(12pt, 0.8rem);
  text-align: right;
}

blockquote {
  border: 4px;
  border-left: 4px solid var(--concrete);
  color: var(--ash);
  margin: 0;
  padding: 0 15px;
}

aside {
  margin: 16px 0px;
  padding: 0;
}

aside > p {
  border-left: 4px solid;
  border-radius: 4px;
  color: #3c3c3c;
  margin: 0;
  padding: 1em;
}

aside.info > p {
  background-color: #cce5ff;
  border-color: #b8daff;
  color: #004085;
}

aside.danger > p {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

aside.warning > p {
  background-color: #fff3cd;
  border-color: #ffeeba;
  color: #856404;
}

aside.success > p {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

aside.tldr > p {
  background-color: var(--concrete);
  border-color: var(--ash);
  color: var(--charcoal);
}

table {
  border-bottom: 1px var(--concrete);
  border-collapse: collapse;
  color: var(--charcoal);
  display: table;
  margin: 0px 0px 16px;
  overflow: auto;
  width: 100%;
  table-layout: fixed;
}

thead {
  border: 2px solid var(--concrete);
}

th {
  border-bottom: 2px solid var(--concrete);
  border-color: var(--concrete);
  font-weight: bold;
}

th,
td {
  border-top: 1px solid var(--concrete);
  padding: 8px 16px;
}

tr {
  border-bottom: 1px solid var(--concrete);
  height: 36px;
}

article {
  border-radius: 8px;
  background-color: white;
  padding: 20px 40px;
  box-shadow: #3c40434d 0px 1px 2px 0px, #3c404326 0px 1px 3px 1px;
  margin-top: min(calc(100% - 940px), 40px);
  margin-bottom: min(calc(100% - 940px), 40px);
  width: min(940px, 100%);
}

html {
  scroll-padding-top: 64px;
}


/*
h2::before {
  content: '';
  display: block;
  height:      108px;
  margin-top: -108px;
  visibility: hidden;
  position: relative;
  z-index: -1;
}
 */