@media screen and (min-width: 576px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header {
    scroll-margin-top: 40px;
  }
}

ul {
  padding-left: 20px;
}

li {
  font-size: inherit;
  margin-bottom: 5px;
}

nav {
  display: flex;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  padding: 8px;
  z-index: 1;
}

nav a.logo {
  display: flex;
  /*justify-content: center;*/
  justify-content: space-between;
  align-items: center;
}

nav a.author {
  display: none;
}

nav img.logo {
  margin-left: 16px;
}

html {
  /* Adjust offset for the height of the <nav> element */
  scroll-padding-top: 64px;
}

nav a.logo {
  align-items: center;
  display: flex;
}

nav a.logo p {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  overflow-wrap: normal;
  font-family: "Roboto Mono", monospace;
}


@media screen and (min-width: 576px) {

  nav a.author {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff11;
    margin-right: 8px;
    padding: 6px 12px;
    border-radius: 4px;
  }

  nav a.author div {
    display: block;
  }

  nav a.author img {
    background-color: #d2b189;
    border-radius: 10%;
    margin-left: 24px;
  }

  nav a.author div p.author {
    font-family: "Roboto Mono", monospace;
    margin-top: 0;
    margin-bottom: 12px;
    padding: 0;
  }

  nav a.author div p.name {
    font-size: 1.2rem;
    text-align: left;
  }

  q:before, q:after { content: ""; }

  nav .author q {
    font-style: italic;
    font-size: 0.7rem;
    color: #cccccc;
  }
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

main {
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  display: block;
  flex-direction: column;
  padding: max(2%, 1em);
  width: 100vw;
}

@media screen and (min-width: 576px) {
  main {
    padding: 1vh 3vw;
  }
}

section#cards {
  column-gap: 48px;
  display: grid;
  grid-auto-rows: 290px;
  row-gap: 48px;
  grid-template-columns: repeat(1, 1fr);
}

@media screen and (min-width: 576px) {
  section#cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  section#cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

section#intro {
  max-width: 800px;
  margin: 50px auto;
}

section#intro summary {
  text-indent: 0ch;
  font-size: 1.5rem;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 576px) {
  section#intro summary {
    font-size: 2rem;
  }
}

section#intro > details {
  max-width: 80ch;
  margin-left: auto;
  margin-right: auto;
}

section#intro > details > p {
  text-indent: 4ch;
  font-family: serif;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  section#intro > details {
    max-width: 68ch;
  }

  section#intro > details > p {
    font-size: 20px;
    line-height: 32px;
  }
}

main > h2 {
  font-size: 1.8rem;
  font-weight: 300;
}

main > p {
  font-size: 1.3rem;
  line-height: 1.5rem;
}

hr {
  margin-bottom: 2em;
}

/* Individual elements of the grid */
section > a.card {
  background-color: var(--charcoal);
  border-radius: 16px;
  box-shadow: 1px 1px 12px -3px black;
  color: white;
  filter: opacity(80%);
  font-weight: normal;
  height: 100%;
  text-decoration: none;
  transition: 0.3s;
}

section > a.card:hover {
  filter: opacity(100%);
}

section > a.card img {
  border-radius: 16px 16px 0 0;
  object-fit: cover;
  width: 100%;
  height: 240px;
}

section > a.card > picture {
  overflow-x: hidden;
  overflow-y: hidden;
}

section > a.card > p {
  font-size: 22px;
  letter-spacing: 0.05rem;
  margin: 0;
  padding: 8px 8px 8px 8px;
  text-align: center;
}
