@media screen and (min-width: 576px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  header {
    scroll-margin-top: 40px;
  }
}

ul {
  padding-left: 20px;
}

li {
  font-size: inherit;
  margin-bottom: 5px;
}

nav {
  display: flex;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 2px 6px 2px rgba(60, 64, 67, 0.15);
  padding: 8px;
  z-index: 1;
}

nav a.logo {
  display: flex;
  /*justify-content: center;*/
  justify-content: space-between;
  align-items: center;
}

nav a.author {
  display: none;
}

nav img.logo {
  margin-left: 16px;
}

html {
  /* Adjust offset for the height of the <nav> element */
  scroll-padding-top: 64px;
}

nav a.logo {
  align-items: center;
  display: flex;
}

nav a.logo p {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  overflow-wrap: normal;
  font-family: "Roboto Mono", monospace;
}


@media screen and (min-width: 576px) {

  nav a.author {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff11;
    margin-right: 8px;
    padding: 6px 12px;
    border-radius: 4px;
  }

  nav a.author div {
    display: block;
  }

  nav a.author img {
    background-color: #d2b189;
    border-radius: 10%;
    margin-left: 24px;
  }

  nav a.author div p.author {
    font-family: "Roboto Mono", monospace;
    margin-top: 0;
    margin-bottom: 12px;
    padding: 0;
  }

  nav a.author div p.name {
    font-size: 1.2rem;
    text-align: left;
  }

  q:before, q:after { content: ""; }

  nav .author q {
    font-style: italic;
    font-size: 0.7rem;
    color: #cccccc;
  }
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
}

main {
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  display: block;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  width: 100vw;
}

@media screen and (min-width: 567px) {
  main {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

section#intro summary {
  text-indent: 0ch;
  font-size: 1.5rem;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
}

section#intro > details {
  max-width: 80ch;
  margin-left: auto;
  margin-right: auto;
}

section#intro > details > p {
  text-indent: 4ch;
  font-family: serif;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  section#intro > details {
    max-width: 68ch;
  }

  section#intro > details > p {
    font-size: 20px;
    line-height: 32px;
  }
}

main > h2 {
  font-size: 1.8rem;
  font-weight: 300;
}

main > p {
  font-size: 1.3rem;
  line-height: 1.5rem;
}

hr {
  margin-bottom: 2em;
}

.collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Individual elements of the grid */
.card {
  display: flex;
  flex-direction: column;
  height: 300px;
  width: 350px;
  border-radius: 16px;
  font-weight: normal;
  text-decoration: none;
  margin: 16tpx;
}

.card img,
.card picture {
  border-radius: 16px 16px 0 0;
  object-fit: cover;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
}

.card header {
  font-size: 22px;
  letter-spacing: 0.05rem;
  margin: 0;
  padding: 16px;
  text-align: center;
}
