<!doctype HTML>
<html lang="en-US">
<head>
  <!--suppress HtmlUnknownTarget -->
  <title>{{.Title}} | {{.Site.Title}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ template "_internal/opengraph.html" . }}
  <meta property="og:site_name" content="Helpful Wiki">

  <link rel="manifest" href="/site.webmanifest">
  <link rel="icon" type="image/svg+xml" href="/img/icon.svg">
  <link rel="apple-touch-icon" href="/img/icon.png">
  <link rel="stylesheet" type="text/css" href="/css/baseof.css">
  <link rel="stylesheet" type="text/css" href="/css/fonts.css">
  <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
  >
  <script defer src="/__/firebase/8.0.2/firebase-app.js"></script>
  <script defer src="/__/firebase/8.0.2/firebase-analytics.js"></script>
  <script defer src="/__/firebase/8.0.2/firebase-performance.js"></script>
  <script defer src="/__/firebase/init.js"></script>
  <script defer src="/js/init.js"></script>



  {{ block "head" . }}
  {{ end }}


</head>
<body>
  <nav>
    <a id="sitename" href="/">
      <img id="icon" alt="" src="/img/icon.svg"/>
      <p>helpful.wiki</p>
    </a>
    <a id="author" href="https://github.com/austintraver">
      <div>
        <p id="name">Austin Traver</p>
        <p id="catchphrase">Teaching to avoid learning...</p>
      </div>
      <img id="headshot" alt="" src="/img/headshot.webp">
    </a>
  </nav>
  <main>
    {{ block "main" . }}
    {{ end }}
  </main>
</body>
</html>
