{{ if not .Site.IsServer }}
  <script type="application/javascript" defer src="/__/firebase/8.2.8/firebase-app.js"></script>
  <script type="application/javascript" defer src="/__/firebase/8.2.8/firebase-analytics.js"></script>
  <script type="application/javascript" defer src="/__/firebase/8.2.8/firebase-performance.js"></script>
  <script type="application/javascript" defer src="/__/firebase/init.js"></script>
  <script type="application/javascript" defer src="/js/firedocs.js"></script>
{{ end }}