<title>{{ .Title }} | {{ .Site.Title }}</title>
<meta charset="utf-8">
{{ template "_internal/opengraph.html" . }}
<meta name="description" content="{{ .Description }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script defer type="application/javascript" src="/js/doctober.js"></script>
<link rel="preconnect" crossorigin href="https://fonts.gstatic.com">
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="192x192" href="/img/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<link
    rel="stylesheet"
    type="text/css"
    href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
>
<link
    rel="stylesheet"
    type="text/css"
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap"
>
<link rel="stylesheet" type="text/css" href="/css/doctober.css">
<link rel="stylesheet" type="text/css" href="/css/chroma.css">
