<link rel="stylesheet"  href={{ "sidebar.css" | relURL }}/>
<div class="sidebar">
  <img id="headshot" src={{ "headshot.jpg" | relURL }}>
  <div class="content">
    <p style="font-size: 24pt; font-weight: bold"> Austin Traver </p>
    <p style="font-style: italic"> Teaching to avoid learning... </p>
  </div>
  <div class="wrapper">
    <a href='mailto:atraver@usc.edu'>Email</a> </br>
    <a href='https://helpful.wiki'>Website</a> </br>
    <a href='https://github.com/austintraver'>GitHub</a>
  </div>
</div>
