{{ define "main" }}
  <section class="intro">
    {{ .Content }}
  </section>
  <section class="collection">
    {{ range sort .Pages ".FuzzyWordCount" "desc" }}
      {{ $img := path.Join .RelPermalink "featured" }}
      <a class="card" href="{{ .RelPermalink }}">
        <picture>
          <source type="image/webp"
              srcset="{{ $img }}-1x.webp 1x,
                      {{ $img }}-2x.webp 2x,
                      {{ $img }}-3x.webp 3x"
          >
          <img alt="" loading=lazy class="preview" src="{{ $img }}.png">
        </picture>
        <header>{{ .Title }}</header>
      </a>
    {{ end }}
  </section>
{{ end }}
